services:
  gitlab:
    image: gitlab/gitlab-ce:18.4.3-ce.0
    container_name: gitlab
    restart: unless-stopped
    hostname: 'gitlab'
    ports:
      - '80:80'
      - '443:443'
      - '2424:22'
    volumes:
      - ./config:/etc/gitlab
      - ./logs:/var/log/gitlab
      - ./data:/var/opt/gitlab
    shm_size: '256m'
